.chat_side
  .side-header
    .side-header_box
      .side-header_box_name
        Tomoya
      .side-header_box_btns
        .side-header_box_btns_edit
          =icon('fas', 'edit')
        .side-header_box_btns_new-group
          =icon('fas', 'cog')
  .contents
    .contents_message1
      %h1 test1
      %p まだメッセージはありません
